.container {
    max-width: 1024px;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    margin: 15px;
    color: #fff;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.377);
}

#no-film {
    display: flex;
    justify-content: center;
}

.container ul {
    margin: 0 10px;
}

.wrapper-movie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #1B2B47;;
    padding: 5px;
    border-radius: 10px;
    
}

.wrapper-movie span {
    color: #fff;
}

.movie-options {
    display: flex;
    gap: 10px;
}

.movie-options button {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    border: 0;
}