.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.error h1 {
    font-size: 30px;
}

.error-link {
    text-decoration: none;
    background-color: #1B2B47;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
} 